@import "../../var/colors.scss";

.vertical_nav{
  position:fixed;
  top:2px;
  height: 50vh;width: 2vw;
//  background-color: $grey;
  margin-top: 25vh;
  right:2vw;

    .vertical_point{
      height:3vh;width: 2vw;
      //border-radius: 50%;
      margin-bottom:10vh;
      background-color: $black;
      opacity: 0.9;
    }

//display:none;
}
