

//IMPORT EXTERN FILES NECESSARY Mobile & Desktop
@import "reset.scss";

//IMPORT VARIABLES
@import "var/colors.scss";
@import "var/fonts.scss";
@import "var/size.scss";

//IMPORT MIXINS
@import "Mixins/mixins.scss";


//IMPORT MOBILE STYLE FIRST
@import "Mobile/mobile_style.scss";

//IMPORT DESKTOP STYLE on Condition scree-size
@media screen and (min-width: 600px){

@import "Desktop/desktop_style.scss";
}

//Global stylesheet

html,body{ //Definition hauteur element parent pour les enfants prennent tout la hauteur de l'ecran voulu avec propriété vh
  height: 100%;
}

body{
  //background-color: blue;
}


a:link{
text-decoration:none;
}

h1,h2{
    color:$black;
}

p{
  color:$black;
  //text-align: center;
}
