@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ÔÇÖÔÇÖ;
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 150; }

.menu--visible {
  pointer-events: auto; }

.app-menu {
  background-color: #3a3c3b;
  color: #3a3c3b;
  position: relative;
  max-width: 90%;
  width: 70%;
  height: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateX(190%);
  transform: translateX(190%);
  display: flex;
  flex-direction: column;
  will-change: transform;
  z-index: 160;
  pointer-events: auto; }

.menu--visible .app-menu {
  left: 30%;
  -webkit-transform: none;
  transform: none; }

.menu--animatable .app-menu {
  transition: all 130ms ease-in;
  left: 30%; }

.menu--visible.menu--animatable .app-menu {
  transition: all 330ms ease-out; }

.menu:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  will-change: opacity;
  pointer-events: none;
  transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1); }

.menu--visible.menu:after {
  opacity: 1;
  pointer-events: auto; }

ul {
  text-align: center;
  font-family: acumin-pro, sans-serif; }
  ul li {
    margin-top: 10vh;
    font-size: 1.5em;
    color: white; }

/*
.vertical_nav{
  position:fixed;
  top:2px;
  height: 50vh;width: 2vw;
//  background-color: $grey;
  margin-top: 25vh;
  right:8vw;

    .vertical_point{
      height:3vh;width: 5vw;
      //border-radius: 50%;
      margin-bottom:10vh;
      background-color: $black;
      opacity: 0.9;
    }
*/
.vertical_nav {
  position: fixed;
  top: 2px;
  height: 50vh;
  width: 2vh;
  margin-top: 30vh;
  right: 2vh;
  /*
          .vertical_point_03{
            visibility: visible;
          }*/ }
  .vertical_nav .vertical_point, .vertical_nav .vertical_point_03 {
    height: 3vh;
    width: 3vh;
    border-radius: 15%;
    margin-bottom: 8vh;
    background-color: #3a3c3b;
    opacity: 0.9; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px; }
  nav li {
    display: inline-block; }

.logo_home {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 10px;
  background: url("../private/img/logo.png") no-repeat center;
  background-image: url("../img/logo_home.svg");
  background-size: contain; }

.logo_menu {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 15px;
  background: url("../private/img/logo.png") no-repeat center;
  background-image: url("../img/logo_menu.svg");
  background-size: contain; }

.section_00 {
  background-color: #7c7d7b;
  left: 0;
  right: 0;
  min-height: 100vh; }
  .section_00 h1 {
    text-align: center;
    font-size: 2.5em;
    padding-top: 3vh; }
  .section_00 h2 {
    text-align: center;
    margin-top: -20vh;
    font-size: 2.3em; }
  .section_00 h3 {
    visibility: hidden; }

.logo_CV {
  width: 30vh;
  height: 30vh;
  padding-top: 50vh;
  /* pouss├® de la moiti├® de hauteur de viewport */
  margin-left: auto;
  margin-right: auto;
  background: url("../private/img/logo.png") no-repeat center;
  background-image: url("../img/logo_CV.svg");
  background-size: contain; }

.job_d {
  visibility: hidden; }

.toscroll {
  position: absolute;
  height: 5vh;
  width: 10vh;
  left: 50%;
  /* ├á 50%/50% du parent r├®f├®rent */
  transform: translateX(-50%);
  /* d├®calage de 50% de sa propre taille */
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background: url("../private/img/toscroll.svg") no-repeat center;
  background-image: url("../img/toscroll.svg");
  background-size: contain; }

.section_01 {
  background-color: #3a3c3b;
  left: 0;
  right: 0;
  min-height: 50vh; }
  .section_01 h1 {
    color: #eeebdc;
    text-align: center;
    padding-top: 5vh;
    font-size: 2em; }
  .section_01 p {
    line-height: 1.5;
    color: #eeebdc;
    width: 175px;
    font-size: 1.3em;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto; }

.section_02 {
  background-color: #eeebdc;
  left: 0;
  right: 0;
  min-height: 50vh; }
  .section_02 h1 {
    color: #3a3c3b;
    text-align: center;
    padding-top: 5vh;
    font-size: 2em; }
  .section_02 p {
    line-height: 1.5;
    color: #3a3c3b;
    width: 160px;
    font-size: 1.3em;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto; }

.section_03 {
  background-color: #aba9aa;
  left: 0;
  right: 0;
  min-height: 120vh; }
  .section_03 h1 {
    color: #3a3c3b;
    width: 220px;
    padding-top: 5vh;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto; }
  .section_03 p {
    line-height: 1.5;
    color: #3a3c3b;
    width: 215px;
    font-size: 1.3em;
    margin-top: 5vh;
    padding-bottom: 6vh;
    margin-left: auto;
    margin-right: auto; }

.section_04 {
  background-color: #8b8b83;
  left: 0;
  right: 0;
  min-height: 150vh; }
  .section_04 h1 {
    color: #3a3c3b;
    text-align: center;
    padding-top: 5vh;
    font-size: 2em; }

.S0401, .S0402, .S0403 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  width: 70vw;
  height: 30vh;
  background-color: #3a3c3b; }

.section_05 {
  background-color: #d9d1cf;
  left: 0;
  right: 0;
  min-height: 110vh; }
  .section_05 h1 {
    color: #3a3c3b;
    text-align: center;
    padding-top: 5vh;
    font-size: 2em; }

@media screen and (min-width: 600px) {
  .logo_home {
    width: 70px;
    height: 70px;
    top: 30px;
    left: 30px;
    /*position: absolute;
    background: url("../private/img/logo.png") no-repeat center;//fallback
    background-image: url('../img/logo_home.svg');
    background-size: contain;*/ }

  .logo_menu {
    width: 70px;
    height: 70px;
    right: 30px;
    top: 30px;
    /*  position: absolute;
    background: url("../private/img/logo.png") no-repeat center;//fallback
    background-image: url('../img/logo_menu.svg');
    background-size: contain;*/ }

  /*
  .section_00{
    h1{
      margin-top: 100px;
          font-size:2.5em;
    }
    h2{
      padding-top: 100px;
      font-size:2.5em;
    }
  }*/
  .section_00 {
    background-color: #eeebdc; }
    .section_00 h1 {
      position: absolute;
      top: 25vh;
      font-size: 7vh;
      margin-left: auto;
      margin-right: auto;
      left: 50%;
      /* ├á 50%/50% du parent r├®f├®rent */
      transform: translateX(-50%); }
    .section_00 h2 {
      position: absolute;
      top: 40vh;
      font-size: 5vh;
      margin-left: auto;
      margin-right: auto;
      left: 50%;
      /* ├á 50%/50% du parent r├®f├®rent */
      transform: translateX(-50%); }
    .section_00 h3 {
      color: #eeebdc;
      font-size: 3vh;
      text-align: center;
      margin-top: 1vh;
      visibility: visible; }

  .logo_CV {
    position: absolute;
    width: 14vw;
    height: 14vh;
    padding-top: 100vh;
    margin-left: 18vw;
    background: url("../private/img/logo.png") no-repeat center;
    background-image: url("../img/logo_CV.svg");
    background-size: contain; }

  .name_CV {
    margin-top: 73vh;
    margin-left: 18vw;
    position: absolute;
    background-color: #3a3c3b;
    width: 14vw;
    height: 5vh;
    border-radius: 4px; }

  .logo_portfolio {
    position: absolute;
    visibility: visible;
    width: 14vw;
    height: 14vh;
    padding-top: 100vh;
    right: 0px;
    margin-right: 18vw;
    background: url("../private/img/logo.png") no-repeat center;
    background-image: url("../img/logo_portfolio.svg");
    background-size: contain; }

  .name_PT {
    margin-top: 73vh;
    margin-right: 18vw;
    right: 0px;
    position: absolute;
    background-color: #3a3c3b;
    width: 14vw;
    height: 5vh;
    border-radius: 4px; }

  .job_d {
    visibility: visible; }

  .job_m {
    visibility: hidden; }

  .section_01 {
    background-color: #7c7d7b;
    left: 0;
    right: 0;
    min-height: 50vh;
    width: 50%;
    float: left;
    /*
    h1{
      font-size: 3vh,
    }
    
    p{
      font-size: 2vh,
    }
    */ }
    .section_01 h1, .section_01 p {
      color: #3a3c3b; }

  .section_02 {
    background-color: #3a3c3b;
    left: 0;
    right: 0;
    min-height: 50vh;
    width: 50%;
    float: left; }
    .section_02 h1, .section_02 p {
      color: #eeebdc; } }
@media screen and (min-width: 600px) and (min-width: 1150px) {
  .section_03 {
    left: 0;
    right: 0;
    min-height: 50vh; }
    .section_03 .column_pattern .col_1, .section_03 .column_pattern .col_2, .section_03 .column_pattern .col_3 {
      margin-left: 13vw; }
    .section_03 .column_pattern .col_1 {
      float: left; }
    .section_03 .column_pattern .col_2 {
      float: left; }
    .section_03 .column_pattern .col_3 {
      float: left; }
    .section_03 h1 {
      color: #3a3c3b;
      padding-top: 5vh;
      font-size: 2.5vw; }
    .section_03 p {
      line-height: 1.5;
      color: #3a3c3b;
      font-size: 1.5vw;
                 /*
margin-top: 20vh;
margin-left: -20vh;*/ } }
@media screen and (min-width: 600px) {
  .section_03 {
    left: 0;
    right: 0;
    min-height: 100vh; }

  .menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 150; }

  .menu--visible {
    pointer-events: auto; }

  .app-menu {
    background-color: #3a3c3b;
    color: #3a3c3b;
    position: relative;
    max-width: 90%;
    width: 70%;
    height: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    -webkit-transform: translateX(190%);
    transform: translateX(190%);
    display: flex;
    flex-direction: column;
    will-change: transform;
    z-index: 160;
    pointer-events: auto; }

  .menu--visible .app-menu {
    left: 30%;
    -webkit-transform: none;
    transform: none; }

  .menu--animatable .app-menu {
    transition: all 130ms ease-in;
    left: 30%; }

  .menu--visible.menu--animatable .app-menu {
    transition: all 330ms ease-out; }

  .menu:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    will-change: opacity;
    pointer-events: none;
    transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1); }

  .menu--visible.menu:after {
    opacity: 1;
    pointer-events: auto; }

  ul {
    text-align: center;
    margin-top: 50px;
    font-family: acumin-pro, sans-serif; }
    ul li {
      margin-top: 50px;
      font-size: 1.5em;
      color: #eeebdc; }

  /*
  .section_00{
    h1{
      margin-top: 100px;
          font-size:3.5em;
    }
    h2{
      padding-top: 100px;
      font-size:3.5em;
    }
  }*/
  .vertical_nav {
    margin-top: 37vh;
    right: 4vh;
    /*
        .vertical_point{
          height:3vh;width: 3vh;
          border-radius: 15%;
          margin-bottom:8vh;
          background-color: $black;
          opacity: 0.9;
        }
    */ }
    .vertical_nav .vertical_point_03 {
      display: none; } }
html, body {
  height: 100%; }

body {
  background-color: blue; }

h1, h2 {
  color: #3a3c3b; }

p {
  color: #3a3c3b; }

/*# sourceMappingURL=globalstyle.css.map */
