@import "../../var/colors.scss";


/*
.vertical_nav{
  position:fixed;
  top:2px;
  height: 50vh;width: 2vw;
//  background-color: $grey;
  margin-top: 25vh;
  right:8vw;

    .vertical_point{
      height:3vh;width: 5vw;
      //border-radius: 50%;
      margin-bottom:10vh;
      background-color: $black;
      opacity: 0.9;
    }
*/
    .vertical_nav{
      position:fixed;
      top:2px;
      height: 50vh;width: 2vh;
    //background-color: $grey;
      margin-top: 20vh;
      right:3vh;

        .vertical_point,.vertical_point_03{
          height:3vh;width: 3vh;
          border-radius: 15%;
          margin-bottom:8vh;
          background-color: $tomatem;
          opacity: 0.9;
        }
/*
        .vertical_point_03{
          visibility: visible;
        }*/


//display:none;
}
