@import "../var/colors.scss";
@import "../var/fonts.scss";
@import "../var/size.scss";


//------- NAV LOGO -------------------------

.logo_home {

  width:$wszlogo; height:$hszlogo;
  top:$spacelogo_n; left: $spacelogo_n;
  /*position: absolute;
  background: url("../private/img/logo.png") no-repeat center;//fallback
  background-image: url('../img/logo_home.svg');
  background-size: contain;*/
}

.logo_menu {
  width:$wszlogo; height:$hszlogo;
  right:$spacelogo_n; top:$spacelogo_n;
  /*  position: absolute;
  background: url("../private/img/logo.png") no-repeat center;//fallback
  background-image: url('../img/logo_menu.svg');
  background-size: contain;*/
}

//--------- NAV MENU ---------------------------------
/*
.section_00{
  h1{
    margin-top: 100px;
        font-size:2.5em;
  }
  h2{
    padding-top: 100px;
    font-size:2.5em;
  }
}*/
