@import "../var/colors.scss";
@import "../var/fonts.scss";


@media screen and (min-width: 1150px){
.section_03{

  left: 0; right:0;
  min-height: 50vh;
  //height: 100vh;

//Columns Ajustement

.column_pattern{

.col_1,.col_2,.col_3{
  margin-left: 13vw;
}

      .col_1{
      //  background-color: $beige;
        float:left;
      //  height: 50vmin;

      }

      .col_2{
      //  background-color: $beige;
        float:left;
      //  margin-left: 15vh;
      }

      .col_3{
      //  background-color: $beige;
        float:left;
      //  margin-left: 15vh;
      }

}

  h1{
    color:$black;
  //  width: 220px;
    padding-top:$padtop;
    font-size: 2.5vw;
  //margin-left: 15vw;
  //  float:left;
  //  text-align: center;
  }

  p{
  //  float:left;
  //  display: block;
    line-height:1.5;
    color:$black;

    font-size: 1.5vw;/*
    margin-top: 20vh;
    margin-left: -20vh;*/
  //  padding-bottom: 6vh;

  }
}
}

  .section_03{
    left: 0; right:0;
    min-height: 100vh;
  
  }
