
//NECESSARY IMPORT
@import "../var/colors.scss";



.section_00{
  background-color: $beige;//$darkgrey;
  h1{
    position : absolute;
    top: 300px;
        font-size:3.5em;
  }
  h2{
    position : absolute;
  top: 200px;
    font-size:3.5em;
  }

}


//LOGOS Wrapper
/*.test{
  width: 300px;
  height: 300px;
  background-color: $black;
}*/
.logo_CV {

  width:250px; height:250px;
  //top:50vh;
  display: inline;
  float:left;
/*  margin-left: auto;
  margin-right: auto;*/
  background: url("../private/img/logo.png") no-repeat center;//fallback
  background-image: url('../img/logo_CV.svg');
  background-size: contain;
}


.logo_portfolio {
  top:200px;
  display: inline;
  visibility: visible;
  width:260px; height:260px;
  float:right;
  //top:50vh;
  //display: block;
/*  margin-left: auto;
  margin-right: auto;*/
  background: url("../private/img/logo.png") no-repeat center;//fallback
  background-image: url('../img/logo_portfolio.svg');
  background-size: contain;
}

.job_d{
  visibility:visible;
}
