
//NECESSARY IMPORT
@import "../var/colors.scss";

.section_00{
  background-color: $darkgrey;
   //Occupation de toute la taille ecran disponible
  left: 0; right:0;
  min-height: 100vh;
    //-------- Titles -------
      h1{
        text-align: center;
        font-size: 2.5em;
        padding-top:3vh;
      }

      h2,{
        text-align: center;
        margin-top:-20vh;
        font-size: 2.3em;
      }

      h3{
        visibility: hidden;
      }
}

//--------------- LOGO ----------------------
.logo_CV {
  width:30vh; height:30vh;
  padding-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  //transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  margin-left: auto;
  margin-right: auto;
  background: url("../private/img/logo.png") no-repeat center;//fallback
  background-image: url('../img/logo_CV.svg');
  background-size: contain;
}

//--------------- Titles ----------------------
.job_d{
  visibility:hidden;
}



//-----------Botom Arow To-Scroll --------------
.toscroll{
  position:absolute;
  height:5vh; width:10vh;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translateX(-50%); /* décalage de 50% de sa propre taille */
  bottom:20px; //2vh
  margin-left: auto;
  margin-right: auto;
  background: url("../private/img/toscroll.svg") no-repeat center;//fallback
  background-image: url('../img/toscroll.svg');
  background-size: contain;
}
