@import "../var/colors.scss";
@import "../var/fonts.scss";



.section_03{
  background:$grey;
  left: 0; right:0;
  min-height: 105vh;

        h1{
          color:$black;
          width: 210px;
          padding-top:$padtop;
          font-size: 1.8em;
          margin-left: auto;
          margin-right: auto;
        }

        p{
          line-height:1.5;
          color:$black;
          width: 215px;
          font-size: 1.3em;
          margin-top: 5vh;
          padding-bottom: 6vh;
          margin-left: auto;
          margin-right: auto;
        }

}
