@import "../var/colors.scss";
@import "../var/fonts.scss";


.section_04{
  background-color: $military;
  left: 0; right:0;
  min-height: 150vh;

  h1{
    color:$black;
    text-align: center;
    padding-top:$padtop;
    font-size: 2em;
  }
}

.S0401,.S0402,.S0403{
  margin-left: auto;
  margin-right: auto;
  margin-top:10vh;
  width: 70vw;
  height:30vh;
  background-color: $black;
}
